<% if tweet.parent %>
  <%= render 'tweet_show', tweet: tweet.parent %>
<% end %>
<div class="tweet__container">
  <%= link_to user_path(tweet.user) do %>
    <p class="tweet__author">@<%= tweet.user.username %> · <span class="gray"><%= time_ago_in_words(tweet.created_at) %> ago</span></p>
  <% end %>
  <%= link_to tweet_path(tweet) do %>
    <p class="tweet__content"><%= tweet.content %></p>
  <% end %>
  <%= render 'tweets/tweet_controller', tweet: tweet %>
</div>

