<% if user_signed_in? %>
  <div class="form__container">
    <%= form_for @tweet, html: { class: "form__control" } do |f| %>
      <%= f.text_area :content, size: "60x3", required: true, class: "input", placeholder: "What's happening ?" %>
      <%= f.submit "Tweet", class: "btn" %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'Login', new_user_registration_path %>
  <%= link_to 'Register', new_user_registration_path %>
<% end %>
<% @tweets.each do |tweet| %>
  <p><strong>@<%= tweet.user.username %></strong></p>
  <p><%= tweet.content %></p>
  <p><%= time_ago_in_words(tweet.created_at) %> ago</p>
  <% if tweet.likes.include?(current_user.id) %>
    <%= link_to tweet_path(tweet), method: :post, class: "heart" do %>
      <%= fa_icon "heart", class: "heart" %> <span class="color-red"> <%= tweet.likes.size %></span>
    <% end %>
  <% else %>
    <%= link_to tweet_path(tweet), method: :post, class: "heart" do %>
      <%= fa_icon "heart-o", class: "icon icon__heart" %> <span class="color-red"> <%= tweet.likes.size %></span>
    <% end %>
  <% end %>
  <% if current_user.id == tweet.user.id %>
    <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= fa_icon "trash-o", class: 'icon icon__trash' %>
    <% end %>
  <% end %>
  <%= link_to 'View', tweet_path(tweet) %>
<% end %>
