<!DOCTYPE html>
<html>
  <head>
    <title>NewTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <div class="left">
        <%= render 'users/profile', user: current_user %>
        <%= render 'shared/trends', trends: @trends %>
      </div>
      <div class="box main">
        <%= yield %>
      </div>
      <div class="box right">
        Coming Soon...
      </div>
    </div>
  </body>
</html>
